/* UNIVERSAL STYLING */
*{
    font-family: 'Lato';
}
.contact {
flex-direction: row; 
}
.about p{
max-width: 60%;
}
.projects{ 
display: flex;
align-content: center;
width:90%;
}

.projectCard{
box-shadow: 5px 10px 8px #888888;
color:rgb(250, 242, 240); 
display:flex;
justify-content: center;
margin: 1em;
width: 20em; 
height: 12em; 
border-radius: 50px 15px; 
background-image:
linear-gradient(
    #455A64 40%,
            #77c9D4
) ; 
-webkit-transition: width .2s linear, height .2s linear;
-moz-transition: width .2s linear, height .2s linear;
-o-transition: width .2s linear, height .2s linear;
transition: width .2s linear, height .2s linear;

}
.projectCard:hover, .projectCard:active {
width: 30em;
height: 20em; 
-webkit-transition: width .2s linear, height .2s linear;
-moz-transition: width .2s linear, height .2s linear;
-o-transition: width .2s linear, height .2s linear;
transition: width .2s linear, height .2s linear;
}
.projectContents{
margin: 1em;
align-content: center;
}

.projectCard .hovering{
font-size: 1px;
opacity: 0; 
}

.projectCard:hover .hovering, .projectCard:active .hovering{
font-size: 1em; 
opacity: 1; 
-webkit-transition: opacity 1s;
-moz-transition: opacity 1s ;
-o-transition: opacity 1s ;
transition: opacity 1s ;
}

a{
color: inherit;
}
img {
border-radius: 15px 50px;
margin: 3em;
max-width: 300px;
max-height: 300px; 
}
i {
margin: 0 15px 0 0 ;
}
p + p{
margin-bottom: 1em; 
}
h3{
    background-image:
            linear-gradient( 
                to left,
                #455A64,
                #77c9D4
            ) ;
            opacity: .8;
    width: 80%;
}
/* max-width used for smaller screens  */
@media screen and (max-width: 500px){
    .projectCard{
        flex-direction: column;
        width: 10em;
    }
    .projectCard:hover, .projectCard:active{
        width: 10em; 
        height: 40em;
    }
}
@media screen and (max-width: 1000px){
    .container {
        display: flex; 
        flex-direction: column; 
        align-items: flex-start;
        /* container margin for space away from walls */
        margin: 0;
        height: 100%;
        width: 100vw;
    }
    .container2 {
        flex-direction: row; 
        align-content: space-evenly;
    }
    .behindImg{
        display: flex; 
        justify-content: space-around;
        width: 100vw;
        color: white;
        background-image:
            linear-gradient(
                #455A64,
                #77c9D4
            ) 
    }
    .innerContainer {
        padding: 2em;
        background:rgb(250, 242, 240); 

    }
    .projects{
        /* flex-wrap: wrap; */
        display:flex; 
        flex-direction: column;

    }
    .projectCard{
        align-self: flex-start
    }
}
/* min-width  used for larger screens  */

@media screen and (min-width: 1001px) {
    .container {
        display: flex; 
        flex-direction: row; 
        /* container margin for space away from walls */
        /* margin updated for larger screen size so top white space doesnt become too much  */
        margin: 0;
        padding: 0;  
        height: 140vh; 

    }
    .behindImg{
        width: 70%;
        background-image:
            linear-gradient(
                #455A64,
                #77c9D4
            ) ;
        min-height: 140vh;
    }
    .innerContainer {
        padding-left: 3%; 
        background:rgb(250, 242, 240); 
        min-width: 70%;
    }
    .projectCard:hover, .projectCard:active {
        width: 30em;
        height: 25em;
    }
}
/* medium screens */
@media screen and (min-width: 1000px)  {
    @media screen and (max-width: 1250px){
        .container {
            height: 160vh; 
    
        }
        .behindImg{
            min-height: 160vh;
        }
        .projectCard:hover {
            width: 35em;
            height: 30em;
        }
    }
}




