*{
    font-family: 'Lato'
}
.container {
    display: flex; 
    flex-direction: column; 
    align-items: center;
    /* container margin for space away from walls */
    margin: 10%;
    margin-bottom: 5%;
}
.container2 {
    flex-direction: row; 

}
a{
    color: inherit;
}
img {
    border-radius: 60%;
    max-width: 300px;
    max-height: 300px; 
    margin-bottom: 10em;
}
/* Behing IMG DIV use blend of Marine and feather #57BC90 #77c9D4 */

.behindImg{

    width: 100%;
    background-image:
        linear-gradient(
            #57BC90,
            #77c9D4
        ) 
}
